*{
    margin:0 px;
    padding: 0px;
}
 body{
    font-size: 1em;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}
header {
    background-color: #5c595996;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center ;
}
header > h1{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
    flex: 0 0 200px;
}
header > nav > a{
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 5px;
    text-align: center;
}header > nav > a:hover{
    text-decoration: underline;
    background-color: bisque;
    transition-duration: 1s;
    color: black;
}
header > nav{
    /* border: 1px dotted black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
main{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}