@charset "UTF-8";
 @media screen and (min-width: 768px) {
    img{
        display: none;
    }
    menu{
        display: block;
      
    }
    menu >ul > li{
        display: inline-block;
    }
    main{
        width: 768px;
    }
    
} 
/* div.ex2 {
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
  }  EXEMPLO DE DIV PARA DISPOSITIVOS MENORES */